body {
    font-family: 'Georgia', serif;
    background-color: var(--accent-color);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--background-light);
    border-radius: 12px;
    /* Eliminado el box-shadow */
}

/* Estilos para las secciones que ocuparán la altura de la pantalla */
.full-viewport-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    background-color: transparent;
    text-align: center; /* Centramos el texto dentro de las secciones por defecto */
}

/* Estilos para pantallas más pequeñas (móviles) */
@media (max-width: 767px) {
    .container {
        padding: 1rem; /* Reducimos el padding del contenedor en móviles */
        max-width: 100%; /* Ocupar todo el ancho en móviles */
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
    }

    .full-viewport-section {
        padding-left: 1rem; /* Reducimos el padding izquierdo de las secciones en móviles */
        padding-right: 1rem; /* Reducimos el padding derecho de las secciones en móviles */
        padding-top: 1rem; /* Añadimos un poco de padding superior e inferior en móviles */
        padding-bottom: 1rem;
    }
}

/* Estilos específicos para el contenedor principal en pantallas más grandes */
@media (min-width: 768px) {
    .container {
        margin-top: 3rem;
    }

    .full-viewport-section {
        padding-left: calc(50% - 300px);
        padding-right: calc(50% - 300px);
    }
}

h1 {
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
}